body{font-family: Arial, sans-serif;

}
nav{
     width: 100%;
     height: 60px;
     background:#344051
     position: fixed;
}

.logo{
     color: #fff;
     font-size: 28px;
     line-height: 60px;
     padding-left: 388px; 
      float: left;
      ~wedkit- animetion:comming 2s;
      ~o~animation:comming 2s ;
      animation: comming 2s;
}

.menu{
     float: left;
     padding-left:432px ;
}

menu li{
     float: left;
     line-height:40px ;
     color: #fff;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
     
}

.title_container{
     float:left ;
     margin: 432px 0px 0px 404px;
     color: #2c384a;
     text-align: center;
}

.title_container h1{
     font-size:60px;
     font-weight: bold;
}

.title_container h4{
     margin-top: 40px;
     font-size: 22px;
     color: #79818d;
}

.title_container input{
     height: 40px;
     text-align: center;
     border: 2px solid #6d7682;
     background:none ;
     border-radius: 5px;
     color:#6d7682; 
     font-size: 13px;
     padding: 0px 16px;
     margin-top: 58px;
     margin: 50px 14px 0px 14px;}
     


nav{
     width: 100%;
     height: 60px;
     background:#344051;
}

.logo{
     color: #fff;
     font-size: 28px;
     line-height: 40px;
     padding-left: 388px; 
      float: left;
}

.menu{
     float: left;
     padding-left:432px ;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}
nav{
     width: 100%;
     height: 60px;
     background:#344051;
}

.logo{
     color: #fff;
     font-size: 28px;
     line-height:40px;
     padding-left: 388px; 
      float: left;
}

.menu{
     float: left;
     padding-left:432px ;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}

nav{
     width: 100%;
     height: 60px;
     background:#344051;
}

.logo{
     color: #fff;
     font-size: 28px;
     line-height: 40px;
     padding-left: 388px; 
      float: left;
}

.menu{
     float: left;
     padding-left:432px ;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align: left;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align: left;
}
     ul li{
     float: left;
     line-height:60px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}

.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align:center;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align:center;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align:center;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}

.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}
.main{
     width: 100%;
    height:calc(100% - 60px);
     background:url(../img/gerl.jpg) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}
ul li{
     float:center;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}

nav{
     width: 100%;
     height: 60px;
     background:#344051
     position: fixed;
}

.logo{
     color: #fff;
     font-size: 28px;
     line-height: 60px;
     padding-left: 388px; 
      float: left;
      ~wedkit- animetion:comming 2s;
      ~o~animation:comming 2s ;
      animation: comming 2s;
}
main{
     width: 100%;
    height:calc(100% - 60px);
     background:url(../img/gerl.jpg) 50% 100%/auto 85% no-repeat
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align: left;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align: left;
}
  ul li{
     float: left;
     line-height:60px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align:center;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align:center;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align:center;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}

.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: center;
}
.main{
     width: 100%;
    height:calc(100% - 60px);
     background:url(../img/gerl.jpg) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}
ul li{
     float:center;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}

nav{
     width: 100%;
     height: 60px;
     background:#344051
     position: fixed;
}

.logo{
     color: #fff;
     font-size: 28px;
     line-height: 60px;
     padding-left: 388px; 
      float: left;
      ~wedkit- animetion:comming 2s;
      ~o~animation:comming 2s ;
      animation: comming 2s;
}
main{
     width: 100%;
    height:calc(100% - 60px);
     background:url(../img/gerl.jpg) 50% 100%/auto 85% no-repeat
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h2{
     margin: 50% 10%;
     color: #79818d ;
     text-align: left;
}
ul li{
     float: left;
     line-height:40px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}
.title_container h3{
     margin: 50% 10%;
     color: #79818d ;
     text-align: left;
}
  ul li{
     float: left;
     line-height:60px ;
     color: #000;
     margin-right: 40px;
     font-size: 16px;
     text-transform: uppercase;
}

